body {
    font-family: Arial, sans-serif;
    background-color: #f4b6e2;
    margin: 0;
    padding: 0;
}

#pokemon-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.pokemon-card {
    background-color: #f0b4e2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
    width: 180px;
}

.pokemon-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

.pokemon-card h5 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: capitalize;
}

.pokemon-card .catch-release {
    background-color: #85053a;
    border: none;
    border-radius: 5px;
    color: rgb(224, 161, 203);
    cursor: pointer;
    margin: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.pokemon-card .catch-release:hover {
    background-color: #85053a;
}

.pokemon-card.caught {
    border: 2px solid #28a745;
}

#load-more {
    background-color: #85053a;
    border: none;
    border-radius: 5px;
    color: rgb(235, 172, 217);
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#load-more:hover {
    background-color: #85053a;
}
